<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav menu">
    <div class="navbar-nav navbar-item">
      <li class="nav-item">
        <a routerLink="tweetslist" class="nav-link" routerLinkActive="active">
          Lista de Tweets
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="consultas" class="nav-link" routerLinkActive="active">
          Consultas
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="dashboard" class="nav-link" routerLinkActive="active">
          Dashboard
        </a>
      </li>
    </div>


    <div class="right">

      <div class="documentos inline ">
        <h4 class="inline">Total de documentos: </h4>
        <div class="inline">
          <h4 class="inline">{{count}}</h4>
        </div>
      </div>

      <div class="lectura inline">
        <p class="inline margin">{{estado}}</p>
        <label class="switch">
          <input id="online" type="checkbox" (click)="change()" checked>
          <span class="slider round"></span>
        </label>
        <input id="url" type="text" class="inline margin" placeholder="Local IP" (change)="cambio()">
      </div>
    </div>



  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>Proyecto creado por Alberto de la Torre Solis</span>
  </div>
</footer>